<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @opponent.nickname %></h1>
    <h3>You've been challenged by <%= @challenger.nickname %>!</h3>
    <p>
      Please visit your <a href="http://flatiron-champions.herokuapp.com">Flatiron Champions homepage</a> to respond.
    </p>
  </body>
</html>
