<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Flatiron Champions, <%= @user.nickname %>!</h1>
    <p>
      You have successfully signed up.
      Your username is: <%= @user.username %>.<br>
    </p>
    <p>A few quick things:</p>
      <ul>
        <li>You can only be in one battle at a time.</li>
        <li>You cannot challenge someone who is currently in a battle.</li>
        <li>If you have multiple invitations- once you accept a battle, all other invitations disappear.</li>
      </ul>
      <h2><a href="http://flatiron-champions.herokuapp.com">Let the games begin!</a></h2>
  </body>
</html>
