<h1><%= @user.nickname %></h1>

user page contains linked characters with info
contains active battles color coded, with links to the battles
along with battle invitations
stats=win/loss
Battle form (type username or battle random user, select character)
contains link to "Training"
