<h1><%= @user.nickname %></h1>
<ul>
<% @characters.each do |char| %>
<li><%= link_to char.char_type.capitalize, char %></li>
<% end %>
</ul>

<p><%= link_to 'Edit Profile', edit_user_path %></p>

contains active battles color coded, with links to the battles <br>
along with battle invitations <br>
stats=win/loss <br>
Battle form (type username or battle random user, select character) <br>
contains link to "Training"
