<h1><%= @user.nickname %></h1>
<ul>
<% @characters.each do |char| %>
<li><%= link_to char.char_type.capitalize, char %></li>
<% end %>
</ul>
<button class="battle_button" style="vertical-align:middle"><span>Active Battles</span></button><br>
<p class="edit-profile-arrow"><%= link_to 'Edit Profile', edit_user_path %></p><br>
<button class="logout_button" style="vertical-align:middle"><span><%= link_to 'Logout', logout_path %></span></button><br>
contains active battles color coded, with links to the battles <br>
along with battle invitations <br>
stats=win/loss <br>
Battle form (type username or battle random user, select character) <br>
contains link to "Training"
