<h1><%= @user.nickname %></h1>
    <ul>
    <% @characters.each do |char| %>
    <li><%= link_to char.char_type.capitalize, char %></li>
    <% end %>
</ul>

<p>Active Battles:</p>
<% unless @active_battle == nil %>
  <%= link_to "#{@active_battle.challenger.user.nickname} vs #{@active_battle.opponent.user.nickname}", @active_battle %>
<% end %>

<a class="battle_button" style="vertical-align:middle" href="/battles/new"> <span>New Battle</span> </a><br>
   <a class="edit-profile-arrow" style="vertical-align:middle" href="/users/<%= @user.id %>/edit"> <span>Edit Profile</span></a><br>
   <a class="logout_button" style="vertical-align:middle" href="/sessions"> <span>Logout</span> </a><br>
