
<div class="container">

  <div class="row">
    <div class="col s12" style="text-align: center">
      <div style="padding: 25px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col s6 offset-s3" style="text-align: center">

      <div style="border: 1px solid black; width: 500px; margin: 0 auto;">

        <h1>Leaderboard</h1>

          <h3>Most Wins:</h3>
            <ol>

            </ol>


          <h3>Most Losses:</h3>
            <ol>

            </ol>

          <h3>Highest Level Characters:</h3>
            <ol>

            </ol>

          <h3>KDRs</h3>
            <ol>

            </ol>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col s12" style="text-align: center">
      <div style="padding: 50px;"></div>
    </div>
  </div>

  <div class="row">
    <div class="col s12" style="text-align: center">
      <div style="border: 1px solid black; width: 500px; margin: 0 auto;">

        <h1>Global</h1>

          <h3>Total Users:</h3>

          <h3>Total Characters:</h3>

          <h3>Total Battles Completed:</h3>

          <h3>Total Battles In-Progress</h3>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12" style="text-align: center">
      <div style="padding: 50px;"></div>
    </div>
  </div>

    <div class="row">
      <div class="col s12" style="text-align: center">
        <div style="border: 1px solid black; width: 500px; margin: 0 auto;">

        <h1>Stats</h1>

          <h3>Most Used Character:</h3>
            <ol>

            </ol>

          <h3>Most Move Used:</h3>
            <ol>

            </ol>

        </div>
      </div>
    </div>
</div>
