<div class="center-align">
<h1><%= @character.char_type.capitalize %></h1>
</div>
<ul class="container">
<table class="highlight">
        <thead>
          <tr>
              <th data-field="Ability">Ability</th>
              <th data-field="Damage">Damage</th>
          </tr>
        </thead>
        <tbody>
            <% @character.abilities.each do |ability| %>
            <tr>
            <td><%= ability.slug_name %></td>
            <td><%= ability.damage %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <a class="back-profile-button" style="vertical-align:middle" href="/users/<%= @character.user.id %>"> <span>Back to Profile</span></a><br>
