// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-profile-button {
  display: inline-block;
  border-radius: 3px;
  background-color: #ff8c00;
  border: none;
  color: #FFFFFF;
  text-align: middle;
  font-size: 15px;
  padding: 12px;
  width: 135px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.back-profile-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back-profile-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.back-profile-button:hover span {
  padding-left: 25px;
}

.back-profile-button:hover span:after {
  opacity: 1;
  left: 0;
}

.highlight {
  font-size: 20px;
}
